.navbar {
    margin: 16px;
    padding: 10px 16px;
    border-radius: 4px;
}
.nav-fondo {
    background-color:rgba(201, 172, 75, 0.15);
    }
.nav-sombra {
    box-shadow: 
    0px 2px 4px rgba(0, 0, 0, 0.12),
    0px 4px 8px rgba(0, 0, 0, 0.14),
    0px 6px 2px rgba(0, 0, 0, 0.16),
    0px 8px 12px rgba(0, 0, 0, 0.18);
}
.logo {
    height: 45px;    
    object-fit: contain;
}  
.filtro-btn.active {
    background-color: #6c757d !important; /* Gris oscuro de la imagen */
    color: white !important;
    border-color: #6c757d !important;
    font-weight: bold;
}

.filtro-container .input-group-text {
    border-color: #ced4da;
    color: #6c757d;
}


/* Estilo para el botón de filtro */
.btn-filtro-dia {
    background-color: #bdbdbd !important;
    color: #000 !important;
    border: none;
    font-weight: 500;
    padding: 5px 25px;
    border-radius: 4px;
}

/* Línea divisoria bajo el título */
.border-bottom {
    border-bottom: 2px solid #333 !important;
}

/* Para los cuadros de métricas y encabezados */
.bg-light-gray {
    background-color: #d6d6d6 !important;
}

/* Para que la tabla se vea limpia */
.table thead th {
    border-bottom: 2px solid #adb5bd;
    color: #444;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 1px;
}

.table tbody td {
    padding: 15px;
}
/* ------ PIE DE PÁGINA---- */
.footer-section {
    background-color: #000000;
    color: #ffffff;
    padding: 40px 0;
    font-size: 14px;
}

.footer-section img {
    max-width: 100px;
    margin: 0 10px;
    vertical-align: middle;
}

.footer-section h6 { font-weight: bold; margin-bottom: 15px; }

.footer-section ul {
    padding: 0;
    list-style: none;
}

.footer-section ul li { margin-bottom: 6px; }

.footer-section a {
    color: #cfcfcf;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section a:hover { color: #ffffff; }
