body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.fila-letra {
    width: 30px;          
    text-align: center; 
    font-weight: bold;
    }
.icon-back {
    font-size: 25px;
    font-weight: bold;
    }
.logo {
    height: 45px;    
    object-fit: contain;
    }   
.titulo-pelicula {
    color: rgba(0, 0, 0, 0.68);
    }
.nav-fondo {
    background-color:rgba(201, 172, 75, 0.15);
    }
.nav-sombra {
    box-shadow: 
    0px 2px 4px rgba(0, 0, 0, 0.12),
    0px 4px 8px rgba(0, 0, 0, 0.14),
    0px 6px 2px rgba(0, 0, 0, 0.16),
    0px 8px 12px rgba(0, 0, 0, 0.18);
}
.navbar {
    margin: 16px;
    padding: 10px 16px;
    border-radius: 4px;
}   

/* CONTENEDOR PRINCIPAL */
.container {
    display: flex;
    padding: 20px;
    gap: 30px;
}

/* IZQUIERDA */
.left {
    flex: 2;
}

.description {
    text-align: justify;
}

.info {
    margin-top: 15px;
}

/* DERECHA */
.right {
    flex: 1;
    background-color: #e8e3d1;
    padding: 15px;
    border-radius: 5px;
}

.dates button,
.times button {
    margin: 5px;
    padding: 8px 12px;
    border: 1px solid #999;
    background-color: white;
    cursor: pointer;
}

.schedule h3 {
    margin-top: 20px;
}

/* BOTONES FINALES */
.right {
    display: flex;
    flex-direction: column;
}

.actions {
    margin-top: 25px;
    display: flex;
    justify-content: center;   /* Centra horizontalmente */
    gap: 20px;                 /* Espacio entre botones */
}


.continue {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(187, 180, 180);
    color: white;
    text-decoration: none;
    text-align: center;
}


.cancel {
    background-color: #e74c3c;
    color: white;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    text-align: center;
}

/* FOOTER */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.logo img {
    height: 50px; /* puedes cambiar el tamaño */
}

/* RESPONSIVE PARA CELULAR */
@media (max-width: 768px) {

    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .video iframe {
        height: 250px;
    }

    .actions {
        flex-direction: column;
        gap: 10px;
    }

    .actions button {
        width: 100%;
    }
}

.selected {
    background-color: #c0392b !important;
    color: white;
}



